<div class="container page-container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="danger">An error has occurred :(</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>