<footer class="bsh-footer">
	<div class="row">
		<div class="col-md-2 col-sm-12">
			<div class="bsh-footer-logo"></div>
		</div>
		<div class="col-md-6 col-sm-12">
			<ul class="bsh-footer-nav">
				<li class="bsh-footer-nav-item"><a href="{{navLinks.rides}}">Rides</a></li>
				<li class="bsh-footer-nav-item"><a href="{{navLinks.issues}}">Issues</a></li>
				<li class="bsh-footer-nav-item"><a href="{{navLinks.subscription}}">Subscription</a></li>
				<li class="bsh-footer-nav-item"><a href="{{navLinks.dashboard}}">Dashboard</a></li>
				<li class="bsh-footer-nav-item"><a href="/stations">Stations</a></li>
			</ul>
		</div>
		<div class="col-md-4 col-sm-12">
			<ul class="bsh-footer-links">
				<li class="bsh-footer-list-item"><a class="bsh-footer-link" href="#">Terms</a></li>
				<li class="bsh-footer-list-item"><a class="bsh-footer-link" href="#">Privacy</a></li>
				<li class="bsh-footer-list-item"><a class="bsh-footer-link" href="#">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="row margin-large-top">
		<div class="col-sm-2">
			<div class="bsh-footer-ms-logo"></div>
		</div>
		<div class="col-sm-8">
			<p class="bsh-footer-footnote">
				This is a sample demo application for developers built with educational purposes only.
			</p>
		</div>
	</div>
</footer>