
.container {
    width: 100% !important;
    padding: 0;
    margin-top: -10px;

    & iframe {
        margin-top: 0px;
    }
}

#pbi-report {
    padding: 0;
    margin: 0;
    height: 58vw !important;
}

@media (max-width: 900px) {
    #pbi-report {
        height: 61vw !important;
    }
}

@media (min-width: 900px) and (max-width: 1300px) {
    #pbi-report {
        height: 60vw !important;
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {
    #pbi-report {
        height: 59vw !important;
    }
}