<!DOCTYPE html>
<html>
    <head>
        <title>Stations - Bikes Sharing</title>
        <link rel="shortcut icon" type="image/png" href="/content/bikesharing/images/favicon.ico"/>
        <link rel="stylesheet" href="/content/bootstrap-flex.css">
        <link rel="stylesheet" href="/content/bikesharing/styles/app.css">
    </head>
    <body>
        {{> header headerModel=headerModel}}
        {{{body}}}
        {{> footer navLinks=headerModel.navLinks}}
    </body>
</html>