<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <appSettings>
    <add key="bikes:StationsUrl" value="http://localhost:2915/Station" />
    <add key="bikes:DashboardUrl" value="http://localhost:1938/Dashboard" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=aspnet-BikeSharing_Private_Web_Site-fa83158c-02ee-475e-8767-765ca991e413;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>

</configuration>
